<nav class="navbar navbar-default button-default" role="navigation">
    <div class="navbar-header">
		<a class="navbar-back navbar-brand" href="{{back}}"><span class="glyphicon glyphicon-chevron-left"></span></a>
		<a class="navbar-brand" href="#" target="_self">{{title}}</a>
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
    </div> 
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#" target="_self">Discuss</a></li>
			<li><a href="#" target="_self">Exam Builder</a></li>
			<li><a href="#" target="_self">Flash Cards</a></li>
			<li><a href="#" target="_self">Upgrade to Plus+</a></li>
			<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href='#' target="_self">My Subjects</a>
				<ul class="dropdown-menu">
					<li ng-repeat="subject in subjects"><a href="#" target="_self">{{ subject }}</a></li>
				</ul>
			</li>
		</ul>
    </div>
</nav>