<div class="examQuestion" >
	<ul class="breadcrumb">
		<li><a href="#" target="_self">{{q.year}} Paper</a></li>
		<li><a href="#" target="_self">Section {{q.section}}</a></li>
		<li><a href="#" target="_self">Question {{q.number}}</a></li>
	</ul>
	<img class="img-responsive" src="{{q.imageUrl}}" alt="Q9">
	<button href="#Bar" class="btn btn-default btn-block" data-toggle="collapse" ng-click="toggleMarking($index)"><span ng-show="q.shown">Hide Marking Scheme<span class="caret"></span></span><span ng-hide="q.shown">Show Marking Scheme<span class="dropup"><span class="caret"></span></span></button>
	<div id="Bar" class="collapse">
			<img class="img-responsive" src="{{q.solutionUrl}}" alt="MarkingScheme9">
	</div>
	<ul class="nav nav-pills nav-stacked completed">
		<li ng-class="{active:q.complete}">
			<a id="mark" ng-cloak><span  ng-hide="q.complete">Mark as Completed</span><span  ng-show="q.complete" class="pull-left glyphicon glyphicon-ok-circle">&nbsp</span><span ng-show="q.complete">Completed </span></a>
			
		</li>
	</ul>
</div>