<menubar back="{{back}}" title="{{title}}" subjects="user.subjects"></menubar>
<div class="col-xs-12">
	<div class="page-header"><h4>Aerial Photos</h4></div>
	<ul class="list-group topic">
		<a href="#" target="_self"><li class="list-group-item"><span class="glyphicon glyphicon-wrench pull-left">&nbsp;</span><span class="badge pull-left">4</span>&nbsp;Resources<span class="glyphicon glyphicon-chevron-right pull-right"></li></a>
	  <a href="#" target="_self"><li class="list-group-item"><span class="glyphicon glyphicon-flash pull-left">&nbsp; </span><span class="badge pull-left">6</span>&nbsp;Flashcards<span class="glyphicon glyphicon-chevron-right pull-right"></li></a> 
	</ul>
</div>
<div class="col-xs-12 questions">
	<hr>
	<h5><span class="badge">16</span> Exam Questions</h5>
	<div class="dropdown pull-right">
		<a class="dropdown-toggle" type="button" data-toggle="dropdown" href="">Show Uncompleted<span class="caret"></span></a>
		<ul class="dropdown-menu dropdown-menu-right">
		  <li><a href="#" target="_self">Show All</a></li>
		  <li><a href="#" target="_self">Show Completed</a></li>
		  <li><a href="#" target="_self">Show Uncompleted</a></li>
		</ul>
	</div>
	<hr>
	<question q="question"></question>
</div>